//Colors

// Primary

$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);
$Bright-blue-hover: hsl(245, 75%, 62%);

//Neutral

$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

//Typography

//Body Copy

$Font-size-paragraph: 16px;

//Font
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

$Family-Red-Hat-Display:"Red Hat Display", sans-serif; //Weights: 500, 700, 900